*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex; /* чтоб устранить выпадение полей content */
  margin: auto;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;

  padding: 0 30px; 

}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.content {
  /* display: flex;
  gap: 30px;
  margin: 0 30px;
  inline-size: 100%; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
}

.result {
  /* margin-top: auto; */
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  gap: 11px;
}

.search-form { 
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: start;
  /* flex-grow: 1 */
 }

 .button.search-form__submit-button {
  align-self: self-end;
  min-inline-size: 194px;

 }

 .button {
  min-block-size: 34px;
  color: #FFF;
  text-align: center;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: transparent;
  border: 1px solid #FFF;
 }

 .search-form__checkbox-list {
  min-inline-size: 212px;
 }

 /* .search-form__textfield {
  min-inline-size: 225px;
 } */

 /* 2.1. Задать размеры контейнеру .result__video-container и добавить отступ снизу. */

.result__video-container {
  position: relative; /* для позиционирования прелоадера */
  inline-size: 711px;
  block-size: 386px;
}
 
 /* 2.2. Замостить видео в этот контейнер так, чтобы оно занимало всю ширину и высоту и не выходило за пределы. */
 .result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

/* 2.3 Создать вертикальные отступы между элементами .content__list-item (у всех, кроме последнего). */

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card-thumbnail {
  max-inline-size: 194px;
}

.title {
  /* display: flex;
  flex-direction: column; */
  color: #FFF;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 0.94;
  text-transform: uppercase;
  max-block-size: 210px;
  max-inline-size: 260px; 
  }

.content__accent {
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 0.94;
  text-transform: uppercase;
  color: #545050;
}

.content__video-card {
  display: flex;
  padding: 2px;
}

.content__card-link {
  text-decoration: none;  
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content__video-card-title {
  color: #FFF;
  font-family: Oswald;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 1; 
  text-transform: uppercase;
  min-inline-size: 200px;
}

.content__video-card-description{
  color: #FFF;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 0.9;
}


.button.more-button {
  inline-size: 100%;
}

/* .search-form__fieldset:nth-of-type(1n+1) */

/* .search-form__fieldset:nth-child(1) {
  background-color: brown;

  border-inline-start: none;
  border-inline-end: none;
  border-block-start: none;
  border-block-end: 1px solid #FFF;  
} */

.search-form__fieldset:focus {
  outline: 2px solid #FFF;
  outline-offset: 2px;
}


.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
  inline-size: 100%;



  /* border-top: 1px solid #FFF;
  border-right: none;
  border-bottom: 1px solid #FFF;
  border-left: none; */
  padding: 2px 0;
  color: currentColor;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  background-color: transparent;
  appearance: none;
  /* inline-size: 225px; */
}

.search-form__fieldset-title {
  display: flex;
  align-items: flex-start;
  /* gap: 5px; */
  color: #FFF;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* text-underline-offset: 4px; */
  /* border-inline-start: none;
  border-inline-end: none;
  border-block-start: none;
  border-block-end: 1px solid #FFF; */
  

}

.content__details {
  width: 399px;
  display: flex;
  flex-direction: column;
  gap: 21px;
  justify-content: space-between;
  /* align-items: end; */
}

/* scrollbar-width removes scrollbar, but only works in Firefox */
/* https://caniuse.com/?search=scrollbar-width */
.content__list {
  position: relative; /* для позиционирования прелоадера */
  overflow-y: scroll;
  block-size: 298px;
  scrollbar-width: none;
}

/* Removes scrollbar for most other browsers */
/* https://caniuse.com/?search=webkit-scrollbar */
.content__list::-webkit-scrollbar {
  display: none;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

input:focus {
  outline: none;
}

/* заставить браузер «забыть» стандартные стили этого элемента */
/* .select {
  -webkit-appearance: none;
  -moz-appearance: none;
   appearance: none; 

}  */

.search-form__textfield {
  /* border-inline-start: 1px solid #FFF; 
  border-inline-end: none;
  border-block-start: none;
  border-block-end: 1px solid #FFF;  */

  background-color: transparent;
  border: none;
  font-family: inherit; 
  /* color: inherit; */
  color: rgba(255, 255, 255, 0.70);
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  inline-size: 225px;

  border-block-start: 1px solid #FFF;
  border-inline-end: none;
  border-bottom: 1px solid #FFF;
  border-inline-start: none;
  padding: 2px 0;
  color: currentColor;
  /* font-family: inherit; */
  /* font-weight: inherit; */
  /* font-size: inherit; */
  /* background-color: transparent; */
  /* inline-size: 225px; */
  
}

.insearch-form__textfield::placeholder {
  font-family: inherit; 
  color: rgba(255, 255, 255, 0.70);
  font-family: inherit;
  font-size: inherit;
  font-style:inherit;
  font-weight: inherit;
  line-height: inherit;
}

h1::last-letter {
  /* background-color: yellow; */
  color: rgb(223, 30, 30);
  font-weight: 400;
}