*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex; /* чтоб устранить выпадение полей content */
  margin: auto;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;

  padding: 0 30px; 

}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.content {
  /* display: flex;
  gap: 30px;
  margin: 0 30px;
  inline-size: 100%; */
  display: flex;
  /* justify-content: center; */
  align-items: end;
  inline-size: 1140px;
  gap: 30px;
  /* padding-bottom: 3px; */
}

.result {
  /* margin-top: auto; */
  max-inline-size: 711px;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  gap: 16px;

}

.search-form { 
  display: flex;
  gap: 40px;
  /* align-items: center; */
  max-inline-size: 711px;
  justify-content: start;
  /* flex-grow: 1; */
  /* padding-bottom: 2px; */
 }

 .button.search-form__submit-button {
  align-self: self-end;
  min-inline-size: 194px;

 }

 .button {
  min-block-size: 34px;
  color: #FFF;
  text-align: center;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: transparent;
  border: 1px solid #FFF;
  
 }

 /* .search-form__checkbox-list {
   max-inline-size: 212px; 
 } */

 /* .search-form__textfield {
  min-inline-size: 225px;
 } */

 /* 2.1. Задать размеры контейнеру .result__video-container и добавить отступ снизу. */

.result__video-container {
  position: relative; /* для позиционирования прелоадера */
  inline-size: 711px;
  block-size: 386px;
}
 
 /* 2.2. Замостить видео в этот контейнер так, чтобы оно занимало всю ширину и высоту и не выходило за пределы. */
 .result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}


.content__video-card-thumbnail {
  flex-shrink: 0;
    width: 194px;
    height: 103px;
    object-fit: cover;
    object-position: center;

  /* max-inline-size: 194px;
	max-block-size: 103px; */

  /* inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center; */
}

.title {
  /* display: flex;
  flex-direction: column; */
  color: #FFF;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 0.94;
  text-transform: uppercase;
  max-block-size: 210px;
  max-inline-size: 260px; 
  }

.content__accent {
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 0.94;
  text-transform: uppercase;
  color: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: start;
  /* padding: 2px; */
  /* inline-size: 394px; */
}



.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex-grow: 1;
  padding-top: 1px;
}

.content__video-card-title {
  color: #FFF;
  font-family: Oswald;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 1; 
  text-transform: uppercase;
  /* min-inline-size: 200px; */
}

.content__video-card-description{
  color: #FFF;
  font-family: inherit;
  /* font-family: Fira Sans Condensed; */
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 0.9;
}


.button.more-button {
  inline-size: 395px ;
  /* block-size: 100%; */
  /* margin-block-end: 2px;
  margin-inline-start: 2px; */
}

/* .search-form__fieldset:nth-of-type(1n+1) */

/* .search-form__fieldset:nth-child(1) {
  background-color: brown;

  border-inline-start: none;
  border-inline-end: none;
  border-block-start: none;
  border-block-end: 1px solid #FFF;  
} */

.search-form__fieldset:focus {
  outline: 2px solid #FFF;
  /* outline-offset: 2px; */
}


.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
  inline-size: 100%;



  /* border-top: 1px solid #FFF;
  border-right: none;
  border-bottom: 1px solid #FFF;
  border-left: none; */
  padding: 2px 0;
  color: currentColor;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  background-color: transparent;
  appearance: none;
  inline-size: 225px;
}

.search-form__fieldset-title {
  display: flex;
  align-items: flex-start;
  /* gap: 5px; */
  color: #FFF;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* text-underline-offset: 4px; */
  /* border-inline-start: none;
  border-inline-end: none;
  border-block-start: none;
  border-block-end: 1px solid #FFF; */
  

}

.content__details {
  max-inline-size: 399px;
  display: flex;
  flex-direction: column;
  gap: 26px; /* по макету 26px; но 24px ложится идеально в pixel perfect */
  align-items: start; /* чтоб не прыгал маленький прелоадер в .content__list*/
}


/* 2.3 Создать вертикальные отступы между элементами .content__list-item (у всех, кроме последнего). */



/* scrollbar-width removes scrollbar, but only works in Firefox */
/* https://caniuse.com/?search=scrollbar-width */
.content__list {
  position: relative; /* для позиционирования прелоадера */
  overflow-y: scroll;
  block-size: 298px;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  gap: 30px;


    /* inline-size: 100%; */
    /* block-size: 100%; */
    /* object-fit: cover; */
    /* object-position: center; */

  
}

/* Removes scrollbar for most other browsers */
/* https://caniuse.com/?search=webkit-scrollbar */
.content__list::-webkit-scrollbar {
  display: none;
}

input:focus, 
button:focus,
.content__card-link:focus {
  outline: none;
}

/* заставить браузер «забыть» стандартные стили этого элемента */
/* .select {
  -webkit-appearance: none;
  -moz-appearance: none;
   appearance: none; 

}  */

.search-form__textfield {

  background-color: transparent;
  border: none;

  /* color: inherit; */
  color: rgba(255, 255, 255, 0.70);
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  inline-size: 225px;

  border-block-start: 1px solid #FFF;
  border-block-end: 1px solid #FFF;
  /* color: currentColor; */

  
}

.insearch-form__textfield::placeholder {
  font-family: inherit; 
  color: rgba(255, 255, 255, 0.70);
  font-family: inherit;
  font-size: inherit;
  font-style:inherit;
  font-weight: inherit;
  line-height: inherit;
}

h1::last-letter {
  /* background-color: yellow; */
  color: rgb(223, 30, 30);
  font-weight: 400;
}

/* создадим псевдо-чекбоксы */

.search-form__pseudo-checkbox {
  border: 1px solid #FFF;
  width: 19px;
  height: 19px;
  display: block;
  /* margin: 1px 0 1px 1px; */
}

.search-form__label {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  align-items: center;
  /* padding: 0 1px 0 1px;  */
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* align-items: end; */

  gap: 15px;
}

/* input[type="checkbox"]:disabled {} выключённый
input[type="checkbox"]:checked {} выбранный
input[type="checkbox"]:focus-visible {} в фокусе 

input[type='checkbox']:checked + span {
}

input[type='checkbox']:hover + span {
} */


.content__card-link {
  display: block;
  text-decoration: none;  
  margin: 2px;
  overflow: hidden;
}

.content__card-link_current {
   background-color: #545050;
}


/* состояние :focus-visible */

.search-form__label:has(:focus-visible)  {
  outline: 1px solid #FFF;
  outline-offset: 2px
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link:focus-visible {
    outline: 1px solid #FFF;
    background-color: #545050;
}




/* input[type='checkbox']:focus-visible + .search-form__label {
  border: 1px solid #FFF;
} */

/* .button.search-form__submit-button:has(:focus-visible) {
  outline: 5px solid rgba(7, 241, 15, 0.5);
  background-color: red;
} */

/* состояние :hover */

/* .search-form__label:has(:hover)  {
  не нужен
} */

.search-form__label-text:hover, 
.button:hover, 
.content__card-link:hover  {
 cursor: pointer;
 text-decoration: underline #FFF;
}

/* состояние :active */

.search-form__textfield:active  {
  outline: 0; 
  border-block-start: 1px solid transparent;
  border-block-end: 1px solid transparent;
  outline-offset: 1px;
  
  /* padding: 3px; */
}


.search-form__checkbox:checked + .search-form__pseudo-checkbox {
    display: block;
    outline: 2px solid #000;
    outline-offset: -3px;  
    background: #fff;
}

.search-form__checkbox:active + .search-form__label-text {
   text-decoration: none;
}


.button:active {
  background-color: #545050;
  text-decoration: none;
}

/* .search-form__checkbox:active + .search-form__pseudo-checkbox {
    display: block;
    outline: 2px solid #000;
    outline-offset: -3px;  
    background: #fff;
} */

/* .search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: #FFF;
  inline-size: 15px;
  block-size: 15px;
  margin: 1px 0 0 1px;
} */